body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    h1{
        font-size: 40px;
        margin-top: 8%;
    }
    text-align: center;
    hr{
        margin-bottom: 3%;
        width: 65px;
        border: 3px solid #23a6f0;
        border-radius: 2px;
    }
}

.demo{
    display: flex;
    .options{
        margin-top: 1.5%;
        display: flex;
        flex-direction: column;
        margin-left: 12% ;
        
        .option{
            font-size: 18px;
            font-weight: 600;
            transition: background-color 0.3s, color 0.3s;
            border: none;
            padding: 10px 60px;
            color: #232323; 
            cursor: pointer;
            &:hover{
                background-color: #27a0e6;
                color: white;
            }
        }

        .option.active{
            border-left:4px solid #239de3 ;
            color: #23a6f0;
            background-color: #f3faff;
        }
    }
}

.mydiv{
    .btn{
        width: 70px;
        height:30px;
        font-weight: 300;
        background-color: #f0f2f4;
        border-radius: 5px;
        font-size: 15px;
        border: 0.5px solid ;
        transition: 0.5s;
        margin-left: 30%;
        &:hover{
            background-color: #232323;
            color: #f0f2f4;
            transition: 0.5s;
        }
    }
    width: 77%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    .date{
        font-size: 18px;
        color: #737377;
        margin-top: 3%;
      }
    .name{
        background-color: #bbbb;
        width: 77px;
        padding: 4px 13px ;
        border-radius: 4px;
        font-weight: 700;
        color: #606064;
      }
}
